<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Self_Practice</display-name>
  <welcome-file-list>
   <!-- <welcome-file>index.html</welcome-file> --> 
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>
  <context-param>
     <param-name>driver</param-name>
     <param-value>oracle.jdbc.driver.OracleDriver</param-value>
     </context-param>
     <context-param>
     <param-name>url</param-name>
     <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
     </context-param>
     <context-param>
     <param-name>uname</param-name>
     <param-value>system</param-value>
     </context-param>
     <context-param>
     <param-name>pass</param-name>
     <param-value>rajmca</param-value>
     </context-param>
     
  <servlet>
  <servlet-name>raj</servlet-name>
  <servlet-class>one.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>raj</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>